<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Home</title>
</head>

<body>
    <h1>🔟 Welcome to the Messi Experience ⚽️</h1>
    <p><h3>🇦🇷 World Champion ⭐️⭐️⭐️</h3></p>
    <img width="500px" src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-12/Lionel%20Messi%20Argentina%20kiss%20World%20Cup%20trophy%20121822.jpg?itok=tKsCqx9f">
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

</body>

</html>