<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Works</title>
</head>

<body>
    <h1>Milestones</h1>
    <p>
        <ul>
        <h4>Champions League records</h4>
        <li>Most Champions League group stage goals: 80 (71 for Barcelona)</li>
        <li>Most Champions League round of 16 goals: 29</li>
        <li> Most Champions League goals for one club: 120 (Barcelona)</li>
        <li>Most successive seasons scoring in Champions League: 18</li>
        <h4>Messi's Liga records</h4>
        <li> Most Liga goals: 474</li>
        <li>Most Liga goals in a single season: 50 (2011/12)</li>
        <li>Most Liga hat-tricks: 36</li>
        <li>Most Liga titles won by foreign player: 10</li>
        <h4>Messi's individual honours</h4>
        <li>Most Ballon d'Or awards: 7</li>
        <li>Most ESM Golden Shoes: 6</li>
        <h4>Messi's other club records</h4>
        <li>Most goals in calendar year: 79 in 2012 (91 including goals for Argentina)</li>
        <li>Most UEFA club competition goals for single club: 123 (Barcelona)</li>
        <h4>International records</h4>
        <li>Most Argentina caps: 174</li>
        <li>Most Argentina goals: 102</li>
        <li>Most caps for South American nation: 174</li>
        <li>Most goals for South American nation: 102</li>
        <li>Youngest Argentinian to score at a World Cup: 18 years 357 days</li>
        <li>First player to score in four different World Cup tournaments for Argentina</li>
        <li>Most individual World Cup appearances: 26</li>
        <li>Most Argentina World Cup goals: 13</li>
        <li>Only player to score in World Cup group stage, round of 16, quarter-finals, semi-finals and final</li>
    </ul>
    </p>
    <nav>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
    </nav>

</body>

</html>